$main-color:#101010;



.header{
display:grid;
grid-template-columns: auto 25px;
padding: 2em;
position: sticky;
top: 0;
z-index: 2;
transition-duration: 0.3s;

  .header__menuOpen{
    height: 100vh;
    width: 50vw;
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    transform: scaleX(0);
    transform-origin: right;

    .header__menuOpen__cross{
      height: 15px;
      width: 15px;
      position :absolute;
      right:2em;
      top:2em;
      background:url('../assets/cross_black.svg');
      transform: translateX(100px);
    }

    .header__menuOpen__ul{
      display: block;
      padding: 60px;

      .header__menuOpen__ul__li{
        font-family: "space mono",sans-serif;
        font-size:16px;
        color:$main-color;
        margin-top: 40px;
        opacity: 0;

      }
    }
  }
  .header__logo{
    text-decoration: none;
    font-family: "space mono", sans-serif;
    font-weight: bold;
    color:$main-color;
    transition-duration: 0.4s;
  }

  .header__container__burgerPiece{
    height: 2px;
    width: 25px;
    display: block ;
    background-color: $main-color ;
    transition-duration: 0.4s;
    }
    
    .header__container__burgerPiece:not(:nth-child(1)){
    margin-top: 4px;
    }
  }

.main{
  position: relative;
  .main__presentation{
    font-size: 24px;
    margin-top: 80px;
    margin-left: 30px;

    .main__presentation__name{
      font-family:"prata";
    }

    .main__presentation__student{
      margin-top: 10px;
      font-family: "space mono", sans-serif;
    }
  }
  .main__image1{
    height: 270px;
    width: 200px;
    background:url("../assets/foret.png") no-repeat;
    background-size: cover;
    position: relative;
    top: -20px;
    z-index: -1;
    
  }
  .main__image2{
    height: 220px;
    width: 120px;
    background:url("../assets/japon.png") no-repeat;
    background-size: cover;
    position: relative;
    left: 30%;
    top:-40px;
    z-index: -2;

  }
  .main__image3{
    height: 200px;
    width: 130px;
    background:url("../assets/sculture.png") no-repeat;
    background-size: cover;
    position: absolute;
    right: 0;
    top: 20%;
    z-index: -1;
  }
  .main__about{
    text-align: center;
    padding: 40px;
    .main__about__skills{
      margin-bottom: 40px;
    }
    .main__about__skills__title{
      font-family: "prata", serif;
      font-size: 12px;
      margin-bottom: 40px;
      color: $main-color;

    }
    .main__about__skills__text{
      font-family: "space mono",sans-serif;
      font-size:24px;
      color: $main-color;
    }
    .main__about__bio__title{
      font-family: "prata", serif;
      font-size:12px;
      margin-bottom: 40px;
      color: $main-color;
    }
    .main__about__bio__text{
      font-family: "space mono",sans-serif;
      font-size: 16px;
      text-align: left;
      color: $main-color;
    }
  }
}

.footer{
  width: 100%;
  height: 30vh;
  background-color: $main-color;
}


.black{
  background-color: $main-color !important;
}

.white{
  background: white !important;
  
}

.white__logo{
  color:white !important;
}


.white__cross{
  background:url('../assets/cross.png') !important;
}

.overlay{
  height: 100vh;
  width: 100%;
  position: fixed;
  bottom: 0%;
  background-color: white;
  z-index: 2;
  .overlay__h1{
    width: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: 'space mono';
    font-size: 10px;
    font-weight: bold;
    letter-spacing:2px;
    text-transform: uppercase;
    border: solid black 1px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
  }
}